/* Custom propieties */
:root {
  --text-size: 16px;
}

/* RESET */
html {
  box-sizing: border-box;
  font-size: var(--text-size);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  padding: 5%;
  color: #339;
}

/* Components */

/* Utilities */

/* Site Styles */

.header {
  grid-area: cap;
  background-color: #aabcfe;
}

.section {
  grid-area: seccio;
  background-color: b9c9fe;
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 60px;
  margin-left: 25%;
  width: 620px;
  text-align: center;
  border-collapse: collapse;
}

th {
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
}

td {
  padding: 8px;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}

tr:hover td {
  background: #d0dafd;
  color: #339;
}
